@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.NotFoundPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<div class="container-fluid p-0" id="not-found-page">
    <div class="container" style="height: 80vh;">
        
        <div class="w-75 vertical-center-transform m-auto">
            <h1 class="text-extrabold text-center">Page Not Found</h1>
            <p class="text-center">The page you are looking for does not exist. You can go back to our <strong><a data-udi="" href="/" title="Home">Home</a>&nbsp;</strong>page or you can check out the links below:</p>

                <ul class="center">
                    <li class="text-semibold"><a href="/kmc-spaces/">KMC Spaces</a></li>
                    <li class="text-semibold"><a href="/community-event-spaces/">Community and Event Spaces</a></li>
                    <li class="text-semibold"><a href="/virtual-offices/">Virtual Offices</a></li>
                    <li class="text-semibold"> <a href="/staff-leasing-services-philippines/">Staff Leasing Services in the Philippines</a></li>
                </ul>      
        </div>    
    </div>
</div>