/*_locations-style.scss*/
.locations-icon {
  color: #333;
  font-size: 1.09375rem;
  padding: 0;
  margin: 0; }

.city-name a {
  color: #333; }

.locations-list {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .locations-list li a {
    color: #333; }

.building-name-style {
  font-size: 1.75rem;
  color: #F99D3A; }

.buildings_page_desktop h2 {
  font-size: 2rem; }

.buildings_page_desktop img {
  border-radius: 5px; }

.buildings_page_mobile h2 {
  font-size: 1.5rem; }

#locationNav {
  padding: 0px;
  background-color: #F8F9FA;
  border-bottom: 1px solid #ccc;
  position: -webkit-sticky;
  position: sticky;
  top: 81px;
  overflow: hidden;
  z-index: 5; }
  #locationNav .container {
    padding: 0.5rem 20px; }

@media only screen and (max-width: 991px) {
  #locationNav {
    top: 61px; } }

#locationNavbar > .navbar-nav > li > a.nav-link {
  border-right: 1px solid #ccc;
  line-height: 1rem; }

#locationNavbar > .navbar-nav > li:first-child > a.nav-link {
  padding-left: 0; }

#locationNavbar > .navbar-nav > li:last-child > a.nav-link {
  border-right: 0px;
  line-height: 1rem; }

#locationNavbar > .navbar-nav > li > a.nav-link:active {
  color: #f99d3a; }

#locationNav #locationNavbar .nav-link:hover {
  color: #f99d3a; }

#locationNav #locationNavbar a {
  color: #333; }

#locationNav #locationNavbar li .active {
  color: #F99D3A; }

.nav-contact-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin: auto; }
  .nav-contact-info ul li {
    display: inline;
    padding-left: 10px; }

@media only screen and (max-width: 768px) {
  #scrollable_nav {
    padding-bottom: 20px;
    overflow-x: scroll;
    /* 1 */
    -webkit-overflow-scrolling: touch;
    /* 2 */ }
    #scrollable_nav .nav-item {
      flex: 0 0 auto; } }

#building-details p {
  margin: 0; }

#getConsultation_form {
  background-color: #f99d3a; }
  #getConsultation_form h3 {
    font-size: 1.5rem;
    color: #fff; }

.float_form {
  position: -webkit-sticky;
  position: sticky;
  top: 160px;
  top: 10rem;
  -ms-flex-item-align: start;
  align-self: flex-start;
  z-index: 2; }
  .float_form #bookTour_form {
    background-color: #F8F8F8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px; }

#fixed_bookButton {
  display: none; }

@media only screen and (max-height: 800px) {
  .float_form #bookTour_form {
    overflow-y: auto;
    height: calc(100vh - 14rem); } }

@media only screen and (max-width: 991px) {
  #float_form {
    display: none; }
  #fixed_bookButton {
    display: block;
    position: fixed;
    bottom: 0;
    padding-left: 0;
    background: #fff;
    z-index: 10;
    left: 0; } }

#featured-locations-nav {
  color: #fff;
  padding-top: 20px;
  padding-bottom: 5px;
  border-radius: 5px; }
  #featured-locations-nav .nav-link {
    color: #fff;
    margin-bottom: 0; }
  #featured-locations-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.8); }

.owl-theme .owl-nav {
  background-color: #ffffff !important;
  /*default owl-theme theme reset .disabled:hover links */ }
  .owl-theme .owl-nav [class*='owl-'] {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    color: #333333 !important;
    font-size: 40px !important;
    line-height: 0 !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-radius: 100% !important;
    outline: none !important; }
    .owl-theme .owl-nav [class*='owl-'].disabled:hover {
      background-color: #f99d3a; }

.owl-theme .owl-nav [class*="owl-"]:hover {
  background-color: rgba(255, 255, 255, 0.8) !important; }

.owl-theme {
  position: relative; }
  .owl-theme .owl-next, .owl-theme .owl-prev {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-top: -20px;
    position: absolute;
    top: 45%; }
  .owl-theme .owl-prev {
    left: 10px; }
  .owl-theme .owl-next {
    right: 10px; }

#buildings_mobile {
  display: none; }

@media only screen and (max-width: 991px) {
  #building_sync1, #building_sync2 {
    display: none; }
  #buildings_mobile {
    display: block; }
  .owl-carousel .owl-item img {
    border-radius: 5px; } }

@media only screen and (max-width: 600px) {
  #amenities_Carousel_mobile .owl-item img {
    border-radius: 0px; }
  #neighborhood_Carousel_mobile .owl-item img {
    border-radius: 0px; } }

#cityItemsPage .owl-carousel .owl-stage {
  display: flex; }

#cityItemsPage .owl-carousel .owl-item {
  display: flex;
  flex: 1 0 auto;
  padding: 10px; }

.bldg-address {
  font-size: 0.7rem;
  color: #999999; }

.bldg-amenities {
  line-height: 1; }
  .bldg-amenities p {
    margin-bottom: 0.5rem; }

.overlap_left_videos {
  position: absolute;
  z-index: 1;
  width: 90%;
  top: 20px;
  left: 0px; }

.mobile-view {
  display: none; }

@media only screen and (max-width: 768px) {
  .overlap_left_videos {
    position: static;
    z-index: 1;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 0; } }

#featured-locations-filter-li {
  list-style-type: none;
  padding-left: 0; }
  #featured-locations-filter-li li {
    display: inline-block;
    list-style: none;
    padding: 0 8px;
    margin: 0;
    border-right: 1px solid #ccc;
    line-height: 0.8rem; }
    #featured-locations-filter-li li .location-filter-4 {
      color: dimgray;
      text-decoration: none;
      cursor: pointer; }
    #featured-locations-filter-li li :hover {
      color: rgba(105, 105, 105, 0.8); }
    #featured-locations-filter-li li .active {
      color: #f99d3a; }
  #featured-locations-filter-li :last-child {
    border-right: 0px; }

#featured-locations-filter-li-6 {
  list-style-type: none;
  padding-left: 0;
  text-align: right; }
  #featured-locations-filter-li-6 li {
    display: inline-block;
    list-style: none;
    padding: 0 8px;
    margin: 0;
    border-right: 1px solid #ccc;
    line-height: 0.8rem; }
    #featured-locations-filter-li-6 li .location-filter-6 {
      color: white;
      text-decoration: none;
      cursor: pointer; }
    #featured-locations-filter-li-6 li :hover {
      color: rgba(255, 255, 255, 0.8); }
    #featured-locations-filter-li-6 li .active {
      text-decoration: underline; }
    #featured-locations-filter-li-6 li a {
      color: white;
      text-decoration: none;
      cursor: pointer; }
  #featured-locations-filter-li-6 :last-child {
    border-right: 0px; }

.featured-6-heading {
  font-size: 1.5rem; }

@media only screen and (max-width: 768px) {
  .featured-6-heading {
    text-align: center; }
  #featured-locations-filter-li-6 {
    text-align: center; } }

@media only screen and (max-width: 991px) {
  .responsive-container .container {
    max-width: 100%; } }

.img-mobile {
  min-height: 300px;
  width: 100%; }

.packages-details #coworking-package .card {
  border: none; }
  .packages-details #coworking-package .card .card-body {
    padding: 1.5rem; }
  .packages-details #coworking-package .card p {
    color: #333;
    font-size: 0.8rem; }
  .packages-details #coworking-package .card ul {
    margin: 0px;
    padding-left: 1rem; }
  .packages-details #coworking-package .card h3 {
    font-family: PROXIMANOVA-SEMIBOLD, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px; }
  .packages-details #coworking-package .card .price-style {
    padding: 1.5rem;
    margin: 0 auto; }
    .packages-details #coworking-package .card .price-style .price {
      font-family: PROXIMANOVA-SEMIBOLD, Arial, Helvetica, sans-serif;
      color: #fff;
      font-size: 2.5rem;
      line-height: 1;
      margin-bottom: 0px; }
    .packages-details #coworking-package .card .price-style p {
      color: #fff;
      line-height: 1;
      font-size: 1.3rem;
      margin-bottom: 0; }

.packages-details #virtual-package .card {
  border: none;
  border-radius: 0; }
  .packages-details #virtual-package .card .card-body {
    padding: 2rem; }
  .packages-details #virtual-package .card p {
    color: #333;
    font-size: 0.8rem; }
  .packages-details #virtual-package .card ul {
    margin: 0px;
    padding-left: 1rem; }
  .packages-details #virtual-package .card h3 {
    font-family: PROXIMANOVA-SEMIBOLD, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px; }
  .packages-details #virtual-package .card .price {
    font-family: PROXIMANOVA-SEMIBOLD, Arial, Helvetica, sans-serif;
    color: #f99d3a;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0px; }
  .packages-details #virtual-package .card p {
    color: #333;
    line-height: 1;
    font-size: 0.8rem;
    margin-bottom: 0; }
  .packages-details #virtual-package .card hr {
    height: 1px;
    border: none;
    color: #ccc;
    background-color: #ccc;
    width: 100%;
    text-align: left;
    margin-bottom: 1rem; }

.packages-details .owl-stage {
  display: flex; }

.packages-details .owl-carousel.off {
  display: flex; }

#map-style h1 {
  font-size: 40px; }

#map-style hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

#map-style h4 {
  cursor: pointer; }

#map-style #listings {
  background: #333;
  height: 90vh;
  overflow: auto;
  padding: 30px 60px; }

#map-style .marker {
  border: none;
  cursor: pointer;
  height: 16px;
  width: 16px;
  background-image: url(/media/iydgpzfg/favicon-16x16.png);
  background-repeat: no-repeat;
  background-color: transparent; }

#map-title-and-text-mobile {
  padding: 30px; }
  #map-title-and-text-mobile h1 {
    font-size: 36px; }

@media only screen and (max-width: 768px) {
  #map-style #listings {
    padding: 30px; } }

#modal-fullscreen {
  padding: 0 !important;
  transform: scale(1); }
  #modal-fullscreen .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; }
  #modal-fullscreen .modal-content {
    height: auto;
    min-height: 100%;
    border: 0 none;
    border-radius: 0;
    background: #ffffff;
    padding: 50px;
    width: 100vw;
    -webkit-animation: scaleUp 15s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    animation: scaleUp 15s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  #modal-fullscreen .close {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 999;
    font-size: 32px;
    font-size: 2rem;
    font-weight: normal;
    color: #000;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

#area-manager {
  font-size: 1.5rem; }
  #area-manager p {
    margin: 0;
    color: #fff; }
  #area-manager .area-manager-col-1 {
    border-right: 2px solid #fff; }
  #area-manager .area-manager-img {
    width: 400px;
    max-width: 100%;
    display: inline;
    height: 150px;
    float: right; }
    #area-manager .area-manager-img img {
      float: left;
      border-radius: 50%;
      max-height: 150px;
      width: auto;
      vertical-align: middle; }
  #area-manager .area-manager-name {
    height: 150px;
    padding-left: 1rem;
    padding-right: 1rem; }
    #area-manager .area-manager-name p {
      float: left; }
  #area-manager .area-manager-col-2 {
    margin: auto; }
    #area-manager .area-manager-col-2 a {
      padding-left: 1rem; }

@media only screen and (max-width: 991px) {
  #area-manager {
    font-size: 1.2rem; } }

.wrap {
  width: 100%;
  position: relative;
  top: -8px;
  padding-right: 8px;
  padding-top: 8px;
  overflow: hidden;
  z-index: 1; }
  .wrap:before, .wrap:after {
    content: "";
    position: absolute; }
  .wrap:before {
    width: 40px;
    height: 8px;
    right: 142px;
    background: #E36E29;
    border-radius: 8px 8px 0px 0px;
    z-index: 1;
    top: 0; }
  .wrap:after {
    width: 8px;
    height: 40px;
    right: 0px;
    top: 142px;
    background: #E36E29;
    border-radius: 0px 8px 8px 0px;
    z-index: 1; }
  .wrap .ribbon {
    width: 250px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 50px;
    right: -50px;
    z-index: 2;
    overflow: hidden;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px solid #E36E29;
    box-shadow: 0 0 0 3px #F99D3A, 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
    background: #F99D3A;
    text-align: center;
    font-size: 17.6px;
    font-size: 1.1rem; }

@media only screen and (max-width: 991px) {
  .wrap {
    padding-right: 0;
    padding-top: 0; }
    .wrap:before, .wrap:after {
      content: "";
      position: absolute; }
    .wrap:before {
      width: 0;
      height: 0; }
    .wrap:after {
      width: 0;
      height: 0; }
    .wrap .ribbon {
      font-size: 1rem; } }

.wrap-2 {
  width: 100%;
  overflow: hidden; }
  .wrap-2 .ribbon-2 {
    width: 400px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 60px;
    right: -100px;
    z-index: 2;
    overflow: hidden;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px solid #E36E29;
    box-shadow: 0 0 0 3px #F99D3A, 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
    background: #F99D3A;
    text-align: center;
    font-size: 19.2px;
    font-size: 1.2rem; }

.wrap-card {
  width: 100%;
  position: absolute;
  top: -8px;
  right: -8px;
  padding-right: 8px;
  padding-top: 8px;
  overflow: hidden;
  z-index: 1; }
  .wrap-card:before, .wrap-card:after {
    content: "";
    position: absolute; }
  .wrap-card:before {
    width: 40px;
    height: 8px;
    right: 142px;
    background: #E36E29;
    border-radius: 8px 8px 0px 0px;
    z-index: 1;
    top: 0; }
  .wrap-card:after {
    width: 8px;
    height: 40px;
    right: 0px;
    top: 142px;
    background: #E36E29;
    border-radius: 0px 8px 8px 0px;
    z-index: 1; }
  .wrap-card .ribbon {
    width: 250px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 50px;
    right: -50px;
    z-index: 2;
    overflow: hidden;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 1px solid #E36E29;
    box-shadow: 0 0 0 3px #F99D3A, 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
    background: #F99D3A;
    text-align: center;
    font-size: 17.6px;
    font-size: 1.1rem; }

.back-to-work-info .mobile-btn {
  min-width: 50px;
  padding: .5rem;
  font-size: .8rem; }

.back-to-work-info .desktop-btn {
  min-width: 50px;
  padding: .5rem .8rem;
  font-size: .8rem; }

.tour-wrapper {
  position: relative;
  height: 200px; }
  .tour-wrapper .title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    color: white; }
  .tour-wrapper .image {
    height: 100%;
    width: 100%;
    object-fit: cover; }
