@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{
	var selection = Umbraco.Content(Guid.Parse("0a9b12f9-b934-4cc4-817d-a0a645785ad2"))
    .Children()
    .Where(x => x.IsVisible())
    .OrderBy(x => x.Id);
}

<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>

